$specialColor: salmon;
$contactboxColor: rgb(34, 34, 65);

.main-conversion {
  &__headline {
    display: flex;
    align-items: center;
    padding-left: 15%;
    font-size: 33px;
  }

  &__headline::before {
    content: "|";
    color: red;
    font-size: 47px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    background-color: rgb(230, 230, 230);

    &-text-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      align-content: center;
      padding-left: 15%;
    }

    &-headline {
      font-size: 30px;
      margin-right: 140px;
      margin-bottom: 0px;
    }

    &-button {
      color: white;
      background-color: black;
      border: none;
      padding: 8px 10px 8px 10px;
      margin-top: 20px;
    }

    &-img {
      width: 50%;
    }
  }

  &__tooltip {
    opacity: 0;
    position: relative;
    height: 200px;
    width: 100%;
    background-color: $contactboxColor;
    margin-top: -210px;
    z-index: -1;
    transition: 0.5s 0s opacity linear, 0.5s 0s margin-top linear;
    

    &--open {
      margin-top: 20px;
      opacity: 1;
    }

    &-triangle {
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid $contactboxColor;
      position: relative;
      left: 14%;
      bottom: 9px;
    }

    &-text {
      color: white;
      font-size: 25px;
      padding-left: 15%;
    }
  }
}

.main-conversion--red-headline {
  .main-conversion__content-headline {
    color: $specialColor;
  }
}

.main-conversion--secondary-conversion {
  .main-conversion__content {
    flex-direction: row-reverse;

    &-text-wrapper {
      padding-left: 0px;
      padding-right: 20%;
    }

    &-headline {
      font-size: 25px;
    }

    &-button {
      background-color: $specialColor;
    }

    &-img {
      width: 30%;
      padding: 40px 30px 40px 15%;
    }
  }
}
