// body {
//   background-color: pink;
//   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
//   height: 2000px;
// }

// .content {
//   position: absolute;
//   top: 600px;
//   background-color: #fefefe;
//   padding: 50px;
//   margin: 20px;
//   box-shadow: inset 1px 1px 11px 0px black;
// }

$specialColor: salmon;

.main-conversion {
  &__headline {
    display: flex;
    align-items: baseline;
    padding-left: 15%;
    font-size: 33px;
  }

  &__headline::before {
    content: "| ";
    color: red;
    font-size: 47px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    background-color: rgb(230, 230, 230);

    &-text-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      align-content: center;
      padding-left: 15%;

      &-headline {
        font-size: 30px;
        margin-right: 140px;
        margin-bottom: 0px;
      }
      &-button {
        color: white;
        background-color: black;
        border: none;
        padding: 8px 10px 8px 10px;
        margin-top: 20px;
      }
    }
    &-img {
      width: 50%;
    }
  }
}

.main-conversion--red-headline {
  .main-conversion__content-text-wrapper-headline {
    color: $specialColor;
  }
}

.main-conversion--secondary-conversion {
  .main-conversion__content {
    flex-direction: row-reverse;
  }

  .main-conversion__content-text-wrapper {
    padding-left: 0px;
    padding-right: 20%;

    .main-conversion__content-text-wrapper-headline {
      font-size: 25px;
    }

    .main-conversion__content-text-wrapper-button {
      background-color: $specialColor;
    }
  }

  .main-conversion__content-img {
    width: 20%;
    padding: 40px 30px 40px 15%;
  }
}
